!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: controller_name}
    .container
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'

    - if ['sessions', 'passwords'].include?(controller_name)
      .image-holder
