!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title Admin
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: controller_name}
    .container
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'

    - if ['sessions', 'passwords'].include?(controller_name)
      .image-holder
